<div class="container-fluid container-fluid-custom">
<h1>FAQs</h1>
<div class="faq">
    <h2>How do I create a new note?</h2>
    <p>To create a new note,after you log in simply click on the "New Note" button located on the top right of the dashboard. This will open a new note-taking interface where you can start typing your content.</p>
</div>

<div class="faq">
    <h2>If I log out will my notes still be there when log in again?</h2>
    <p>Yes, your notes will still be available when you log in again. We store your notes securely, and they remain associated with your account. So, whether you log out intentionally or due to inactivity, you can rest assured that your notes will be waiting for you when you log back in.</p>
</div>

<div class="faq">
    <h2>Can I delete a note?</h2>
    <p>Yes, you can delete a note. When viewing a note, there will typically be an option to delete it. This isrepresented by a "Delete" button. Clicking on this option will permanently remove the note from your account. Please note that deleted notes cannot be recovered, so make sure to consider carefully before deleting.</p>
</div>
</div>