<div class="container-fluid container-fluid-custom">
<h1>Features</h1>
<ul>
    <li>
        <h2 style="font-weight: bold;">
            Intuitive Note Creation
        </h2>
        <p>
            Provides a user-friendly interface for quickly creating new notes with a single click or tap.
        </p>
    </li>
    <li>
        <h3 style="font-weight: bold;">
            Search Functionality
        </h3>
        <p>
            Includes a search bar that allows users to easily find specific notes by typing keywords or phrases.
        </p>
    </li>
    <li>
        <h4 style="font-weight: bold;">
            Responsive Design
        </h4>
        <p>
            Ensures that the website is responsive and accessible across various devices, including desktops, laptops, tablets, and smartphones.
        </p>
       </li>
    <li>
        <h5 style="font-weight: bold;">
            Privacy-Focused
        </h5>
        <p>
            Prioritizes user privacy by not tracking or storing any personal information and ensuring that notes are stored securely.
        </p>
       </li>
        </li>
        <li>
            <h6 style="font-weight: bold;">
                CRUD
            </h6>
            <p>
                CRUD functionality enhances the user experience of the note-taking website by providing comprehensive data management capabilities, allowing users to create, view, update, and delete their notes with ease.
            </p>
           </li>
            </li>
</ul>
</div>