<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-left">

      <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
        <h1 class="display-2 fw-bold mb-4 position-relative home-title">
          Life is a song.Your thoughts are the music.So never forget the lyrics!
        </h1>
        <p class="fs-4 mb-4 text">
          TakeNotes is here to keep your thoughts archived!
        </p>
        <a href="/auth/google" class="btn btn-primary btn-lg">Click to begin!</a>

      </div>

    </div>
  </main>
</div>        
<div class="spotify-wrapper">
  <iframe
    title="spotify"
    src="https://open.spotify.com/embed/playlist/7hO1wP81lo2ntjMT8MYcWg?utm_source=generator&theme=0"
    width="100%"
    height="352"
    allowFullScreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
</div>